@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-clr: #060b1c;
  --primary-text-clr: #0ba6cf;
  color-scheme: dark;
}

body {
  color: var(--primary-text-clr);
  background: var(--background-clr);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
