@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-clr: #060b1c;
  --primary-text-clr: #0ba6cf;
  color-scheme: dark;
  scroll-behavior: smooth;
}

body {
  color: var(--primary-text-clr);
  background: var(--background-clr);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ol {
  list-style: decimal;
  padding-left: 2rem;
}

.chatLink a:hover {
  text-decoration: underline;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
